.my-items-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard {
    margin-bottom: 20px;
}

.dashboard h2 {
    margin-bottom: 10px;
}

.statistic-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.items-list {
    margin-bottom: 20px;
}

.items-list h2 {
    margin-bottom: 10px;
}

.items-list ul {
    list-style: none;
    padding: 0;
}

.items-list li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.add-item {
    text-align: center;
    margin-top: 20px;
}

.add-item-button, .create-category-button {
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 4px; 
}

.add-item-button:hover, .create-category-button:hover {
    background-color: #0056b3;
}

.dialog-buttons .p-button {
    width: 48%; 
}


.create-category-dialog {
    padding: 20px;
}

.create-category-dialog .p-field {
    margin-bottom: 15px;
}

.create-category-dialog label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.create-category-dialog .p-button-success {
    width: 100%;
}

.dashboard-image {
    width: 100%;
    height: auto;
}
.auction-image {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.add-product-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}

.add-product-form label {
    position: relative;
}

.add-product-form label select {
    width: 100%;
}
