.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    width: 100%;
}

.default-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 2px;
}

.password-login input {
    box-sizing: border-box;
    width: 100%;
}

.p-password {
    position: relative;
    display: block;
}