/* Profile.css */

.container {
    display: flex;
    justify-content: space-between;
    /* Espaço entre os cards */
    gap: 20px;
    /* Ajuste o valor conforme necessário */
    padding: 20px;
    /* Espaço interno da container */
}

.cardAvatar,
.cardInformations {
    flex: 1;
    /* Faz com que ambos os cards ocupem o mesmo espaço */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* Espaço interno dos cards */
}

.avatarImage {
    margin-bottom: 10px;
    /* Espaço entre o avatar e o label */
}

.cardInformations {
    gap: 10px;
    /* Espaço entre o label e o campo de entrada */
}

.cardInformations label {
    margin-bottom: 10px;
    
}